.s2{
  /* align-items: center; */
  margin-top: 15rem;
  width: 90%;
  height: fit-content;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  background-color: antiquewhite;  
}

.s2 .title{
  width: 50%;
  height: fit-content;
  background-color: aqua;
}